@charset "utf-8";
@import "reset.css";
@import "font.css";

/* common style */
.btn-sm, .btn-md, .btn-lg{display:inline-block;box-sizing: border-box;text-align: center;}
.btn-md{min-width:160px;height:40px;padding:10px 20px;background:#898989;color:#fff;font-size:1.125rem}
.btn-lg{min-width:200px;height:50px;padding:14px 20px;background:#898989;color:#fff;font-size:1.25rem}
.btn-more{display:inline-block;padding-right:40px;background:url(../../images/ico-plus.png) no-repeat 100% 50%;line-height: 30px;font-weight:300;}
.black{background:#000 !important}
.blue{background:#0b21ab !important}
.indigo{background:#0b7cab !important}
.ipt{height:50px !important}
.ipt-email{width:480px;margin-right:46px}
.mb40{margin-bottom:40px}
.st-ing{color:#0b21ab}
.st-ok{color:#d62626}
.full{width:100%}
.tx-blue{color:#0b21ab}
.tx-red{color:#ff0000}
.tx1{font-size:1.125rem}
.tx2{font-size:1.250rem}
.error-msg{color:#ff0000}
/* layer popup */
.layer-pop{display:none;position: fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index: 999;}
.layer-pop .alert-pop{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.alert-pop{width:500px;background:#fff}
.alert-pop-head{position:relative;height:40px;border-top:10px solid #0b21ab;}
.alert-pop-head h2{padding-left:40px;padding-top:18px;font-size:1.25rem;font-weight: 500;}
.alert-pop-head .alert-close{position:absolute;top:0;right:0;width:40px;height:40px;background:url(../../images/ico-x.png) no-repeat 50% 50%;font-size:0}
.alert-pop-body{padding:0 40px 30px;text-align: center;}
.alert-pop-body .msg{padding:30px 0;text-align: center;line-height:1.5;font-weight: 100;}
.alert-pop-body .msg strong{font-weight: 500;}
.alert-pop-body .btm{border-top:1px solid #0b21ab}
.alert-pop-body .btm p{margin-top:20px;line-height: 1.5;}
.alert-pop-body .btm-btns{margin-top:30px}
.paging{margin-top:60px;text-align: center;}
.paging a, .paging strong{display:inline-block;min-width:30px;height:30px;box-sizing: border-box;text-align: center;line-height: 30px;border:1px solid #999;color:#666;margin:0 4px}
.paging strong{border:1px solid #000;color: #fff;background:#000}
.paging a.on{border:1px solid #000;color: #fff;background:#000}
.paging .p-first, .paging .p-prev, .paging .p-next, .paging .p-last{font-size:0}
.paging .p-first{background:url(../../images/p-first.png) no-repeat 50% 50%}
.paging .p-prev{background:url(../../images/p-prev.png) no-repeat 50% 50%}
.paging .p-next{background:url(../../images/p-next.png) no-repeat 50% 50%}
.paging .p-last{background:url(../../images/p-last.png) no-repeat 50% 50%}
/**/
#wrap{height:100%}
#header{position:absolute;top:0;left:0;width:100%;height:100px;background: #fff;}
#header .static{display:flex;justify-content: space-between;align-items:center;max-width:1600px;width:100%;margin:0 auto;border-top:10px solid #0b21ab;}
#header h1{margin:22px 0 18px}
#header h1 a{display:inline-block;width:154px;height:50px;background:url(../../images/hh.png) no-repeat;font-size:0}
#header h1 .btn-logout{width:auto;height:auto;margin-top:17px;margin-left:40px;background:none;font-size:0.87rem}
#header h2{font-size:1.875rem;font-weight:500;}
#container{min-height:100%;background:#fafafa;margin-bottom:-60px;box-sizing:border-box;}
#footer{max-width:1600px;width:100%;height:20px;margin:0 auto;padding:10px 0 20px;border-bottom:10px solid #0b21ab;color:#999;text-align: center;background:#fafafa;font-weight: 100;}
#footer address{display:inline-block;margin:0 15px;vertical-align: middle;}
#footer span{margin:0 15px;vertical-align: middle;}
#footer .tel{margin:0 15px}
#footer .f-logo{display:inline-block;width:98px;height:33px;background:url(../../images/ff.png) no-repeat 0 0;font-size:0}
.nav{width:60%}
.nav-farm{width:860px}
.nav .btn-md{float:right}
.gnb{float:left}
.gnb>li{float:left}
.gnb>li>a{display:block;position:relative;padding:8px 28px 8px 25px;font-size:1.375rem;font-weight: 500;}
.gnb>li>a:before{content:'';display:block;position:absolute;top:14px;left:0;width:1px;height:14px;background:#a0a0a0}
.gnb>li:first-child>a:before{display:none}
.gnb>li.on>a{color:#0b21ab}
.gnb>li.on>a>span{display:block;}
.gnb>li.on>a>span:after{content:'';display:block;position:relative;bottom:-30px;width:100%;height:4px;background:#0b21ab;}
.path{padding:10px 0 0;text-align: right;line-height:1;}
.path span{font-weight:100;color:#666}
.path span:after{content:'>';display:inline-block;margin:0 3px 0 5px;vertical-align:top;}
.path strong{color:#000;font-weight: 500;}
.contents{width:100%;max-width:1600px;margin:0 auto;padding:100px 0 140px;box-sizing:border-box;}
.login-content{min-height:100vh;display:flex;align-items: center} 
.login-content{height:100vh}
.login-wrap{border:1px solid transparent}
/**/
.login-wrap{width:100%;max-width:1600px;height:640px;}
.login-wrap .btns-btm-center{margin:70px 0 0}
.login-form-bx{padding:260px 0 110px;background:url(../../images/img-log.png) no-repeat 50% 50px;border-top:3px solid #0b21ab;border-bottom:2px solid #000;text-align: center;}
.login-form .ipt{width:330px;height:50px}
.login-form label{display:inline-block;padding:0 20px 0 40px;font-size:1.125rem}
.login-form label:first-child{padding-left:0}
.login-form .btn-lg{margin-left:25px;font-size:1.375rem}
.login-info-find{width:100%;max-width:1600px;padding:260px 0 110px;border-top:3px solid #0b21ab;border-bottom:2px solid #000;text-align: center;}
.login-info-find .tel-wp{display:inline-block;width:410px;text-align: left}
.login-info-find .tel-wp select{width:32%;height:50px}
.login-info-find .tel-wp input{width:31%;margin-left:7px;height:50px}
.login-info-find .btn-lg{margin-left:20px;font-size:1.375rem}
.login-info-find label{display:inline-block;padding:0 20px 0 60px;font-size:1.125rem}
.login-info-find label:first-child{padding-left:0}
.mail-find{background:url(../../images/img-log2.png) no-repeat 50% 50px;}
.pass-find{background:url(../../images/img-log3.png) no-repeat 50% 50px;}
.pass-find .ipt{width:330px}
.pass-change{padding-top:40px}
.pass-change .tit-msg{width:500px;height:154px;margin:0 auto 60px;padding-left:200px;background:url(../../images/img-log3.png) no-repeat 0 0;box-sizing: border-box;}
.pass-change .tit-msg p{line-height: 154px;font-size:1.250rem}
.pass-change .ipt{width:330px}
.pass-change .pass-re{display:inline-block;width:330px;height:50px}
.pass-change .pass-re .error-msg{line-height: 50px;}
.btns-btm-center{margin-top:50px;text-align: center;}
.btns-btm-center .btn-lg{margin:0 3px}
.btms-tb-top{display: flex;justify-content: space-between;margin:20px 0 10px}
.btms-tb-top.end{justify-content: flex-end;}
.btms-tb-top.end .btn-md{margin-left:10px}
.h-group{display:flex;justify-content: space-between;align-items: center;padding:45px 0 15px}
.h-ty1{padding-left:60px;font-size:1.5rem;font-weight: 700;line-height:40px;}
.h-ty2{padding-left:60px;padding-top:20px;padding-bottom:10px;font-size:1.5rem;font-weight: 700;line-height:40px;color:#0b21ab;border-top:3px solid #0b21ab}
.hty1{background:url(../../images/ico-h1.png) no-repeat 0 50%}
.hty2{background:url(../../images/ico-h2.png) no-repeat 0 50%}
.hty3{background:url(../../images/ico-h3.png) no-repeat 0 50%}
.hty4{background:url(../../images/ico-h4.png) no-repeat 0 50%}
.hty5{background:url(../../images/ico-h5.png) no-repeat 0 50%;line-height: 50px;}
.noti{color:#ff0000;font-size:0.813rem;}
.noti em{font-weight:700;vertical-align: middle;}
.list-tb{border-top:3px solid #0b21ab;border-bottom:2px solid #000;line-height:1.2;}
.list-tb table{width:100%}
.list-tb th{padding:20px 0;background:#ebebeb;border-bottom:1px solid #000;font-weight:500;font-size:1.125rem}
.list-tb td{padding:15px 0;border-top:1px solid #d8d8d8;text-align: center}
.list-tb tr:first-child td,.list-tb tr:first-child th{border-top:0}
.list-tb sub{font-size:0.75em;vertical-align: baseline;font-weight: 300;}
.list-tb .ag-l{text-align:left}
.list-tb tbody th{border-top:1px solid #d8d8d8;border-bottom:0}
.list-tb tbody th em{color:#ff0000;font-weight: 700;vertical-align: middle;margin-right:10px}
.list-tb.row td{padding:10px 50px 10px 30px;text-align: left;}
.list-tb.row .cont{min-height:150px;line-height: 1.7;}
.list-tb.row .td{display: inline-block;width:48%}
.list-tb.row .td em{display:inline-block;margin-right:40px}
.list-tb.result-tb{border-top:1px solid #000;border-bottom:1px solid #000;}
.list-tb.tab-tb{border-bottom:0}
.list-tb.tab-tb table{border-bottom:2px solid #000;}
.mbr-tb tbody th{text-align:left;padding-left:60px}
.list-tb.row .td-counters{padding-top:0;padding-bottom:0;vertical-align: middle;line-height: 62px;}
.list-tb .td-counters span{display:inline-block;line-height:62px;text-align: center;}
.list-tb .td-counters .label-tit{width:200px;height:62px;margin:0 20px;background:#ebebeb;text-align: center;}
.list-tb .td-counters .con{width:200px;text-align: left;}
.list-tb .td-counters em{color:#ff0000;font-weight: 700;vertical-align: middle;margin-right:10px}
.list-tb .td-counters input{width:240px}
.date-sh select{margin-right:10px}
.date-sh .sp{display:inline-block;vertical-align: middle;padding:0 20px;background: transparent;margin:0;width:auto}
.date-sh .hasDatepicker{margin-right:10px;text-align: center;}
.tel-wp, .search-wp, .address-wp, .kind-wp{display:flex;justify-content: space-between;align-items: center;}
.tel-wp select{width:30%}
.tel-wp input{width:33%}
.search-wp{display:flex;justify-content: space-between;}
.search-wp input{width: calc(100% - 120px)}
.search-wp .btn-md{min-width:110px;}
.address-wp .btn-md{min-width:100px;border:1px solid #999;color:#000;font-size:1rem;background:#fff}
.address-wp input{width: calc(100% - 150px)}
.address-wp .zip-code{width:140px}
.kind-wp label{display:inline-block;padding:0 20px 0 30px}
.kind-wp select{width:35%}
.kind-wp input{width:40%}
.join-btm{padding:70px;text-align: center;}
.pass-re{position: relative;height:40px}
.pass-re .error-msg{position: absolute;top:0;left:20px;line-height: 40px;}
.sadm-gate{text-align: center;margin:0 auto}
.sadm-gate a{width:438px;height:438px;font-size:0}
.sadm-gate .gate1{background:url(../../images/gate1.png) no-repeat}
.sadm-gate .gate1:hover{background:url(../../images/gate1-on.png) no-repeat}
.sadm-gate .gate2{background:url(../../images/gate2.png) no-repeat}
.sadm-gate .gate2:hover{background:url(../../images/gate2-on.png) no-repeat}
.sadm-gate .gate3{background:url(../../images/gate3.png) no-repeat}
.sadm-gate .gate3:hover{background:url(../../images/gate3-on.png) no-repeat}
.farm-search{padding:20px 0 0;text-align:left}
.farm-search .search-wp{padding:20px 0}
.result-lists{max-height:160px;overflow:hidden;overflow-y:auto;border-top:1px solid #0b21ab}
.result-lists ul{padding:10px 0 20px}
.result-lists li{display:table;width:100%;margin-top:7px}
.result-lists li span{display: table-cell;line-height:1.4;color: #0b21ab}
.result-lists li .kind{width:20%;text-align: center;}
.result-lists li .name{width:20%;text-align: center;}
.result-lists li .zipcode{width:15%;text-align: center;}
.result-lists li .addr{width:auto;padding-left:20px}
.result-lists-item{padding:20px 0;border-top:1px solid #0b21ab;text-align: center;color:#0b21ab}
.page-tab{overflow:hidden;position:relative;margin-top:10px;width:100%}
.page-tab:before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background:#000;z-index: 1;}
.page-tab a{display:block;float:left;padding:12px 45px 13px;border:2px solid #cacaca;background:#fff;border-bottom:0;font-size:1.25rem;font-weight: 500}
.page-tab a.on{border:2px solid #000;border-bottom:0;position:relative;z-index:1;}
.page-tab-con{display:none}
#page-tab-con1{display: block;}
.page-tab.farm-tab{margin:0}
.clickable-row{cursor: pointer;}
.farm-tab{border-top:3px solid #0b21ab;padding-top:10px}
.farm-tab>a{width:25%;box-sizing: border-box;text-align: center;}
.farm-list-tb{border-top:0}
.h-ty2 + .list-tb{border-top:2px solid #000;}
.sp{display: inline-block;width:1px;height:14px;background:#666;margin:0 20px;vertical-align:middle}
.total{padding-top:10px}
.total span{vertical-align: middle;}
.total .t1{font-size:1.25rem;}
.total .t2{font-size:1rem;}
.total .t2 em{color:#0b21ab;vertical-align: baseline}

.ui-widget-header .ui-icon {background-image: url(../../images/ui-icons_444444_256x240.png)}

.input-wp{position:relative;width:360px;}
.input-wp input{width:100%}
.input-wp .btn-del, .input-wp .btn-reset{position:absolute;top:5px;right:5px}
.btn-del,.btn-reset{display:inline-block;width:30px;height:30px;font-size:0}
.btn-del{background:url(../../images/ico-del.png) no-repeat 50% 50%}
.btn-reset{background:url(../../images/ico-reset.png) no-repeat 50% 50%}

