@charset "utf-8";

/* 
	100 : Thin
	200 : Extra Light (Ultra Light)
	300 : Light
	400 : Regular
	500 : Medium
	600 : Semi Bold (Demi Bold)
	700 : Bold
	800 : Extra Bold (Ultra Bold)
	900 : Black (Heavy)
*/

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 100;
	src: url('../font/NotoSansCJKkr-Thin.eot');
	src: url('../font/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Thin.woff') format('woff'),
	url('../font/NotoSansCJKkr-Thin.otf') format('truetype');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 200;
	src: url('../font/NotoSansCJKkr-Light.eot');
	src:local(※),
	 url('../font/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Light.woff') format('woff');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 300;
	src: url('../font/NotoSansCJKkr-DemiLight.eot');
	src:local(※),
	url('../font/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-DemiLight.woff') format('woff');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 400;
	src: url('../font/NotoSansCJKkr-Regular.eot');
	src:local(※),
	url('../font/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Regular.woff') format('woff');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 500;
	src: url('../font/NotoSansCJKkr-Medium.eot');
	src:local(※),
	url('../font/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Medium.woff') format('woff');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 700;
	src: url('../font/NotoSansCJKkr-Bold.eot');
	src:local(※),
	url('../font/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Bold.woff') format('woff');
   }
   
   @font-face {
	font-family: 'NotoSans';
	font-style: normal;
    font-weight: 900;
	src: url('/font/NotoSansCJKkr-Black.eot');
	src:local(※),
	url('../font/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
	url('../font/NotoSansCJKkr-Black.woff') format('woff');
   }


