@charset "utf-8";
@import "reset.css";
@import "font.css";

/* common style */
.btn-sm, .btn-md, .btn-lg{display:inline-block;box-sizing: border-box;text-align: center;}
.btn-sm{width:120px;height:30px;padding:7px 0;background:#d8d8d8;color:#666;font-size:1rem}
.btn-md{min-width:160px;height:40px;padding:10px 20px;background:#898989;color:#fff;font-size:1.125rem}
.btn-lg{min-width:200px;height:50px;padding:14px 20px;background:#898989;color:#fff;font-size:1.25rem}
.btn-more{display:inline-block;padding-right:40px;background:url(../../images/ico-plus.png) no-repeat 100% 50%;line-height: 30px;font-weight:300;}
.black{background:#000 !important}
.blue{background:#0b21ab !important}
.indigo{background:#0b7cab !important}
.ipt{height:50px !important}
.ipt-email{width:480px;margin-right:46px}
.mb40{margin-bottom:40px}
.mt50{margin-top:50px !important}
.st-ing{color:#0b21ab}
.st-ok{color:#d62626}
.full{width:100%}
.tx-blue{color:#0b21ab}
.tx-red{color:#ff0000}
.tx1{font-size:1.125rem}
.tx2{font-size:1.250rem}
.error-msg{color:#ff0000}
/* layer popup */
.layer-pop{display:none;position: fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index: 999;}
.layer-pop .alert-pop{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.alert-pop{width:500px;background:#fff}
.alert-pop-head{position:relative;height:40px;border-top:10px solid #0b21ab;}
.alert-pop-head h2{padding-left:40px;padding-top:18px;font-size:1.25rem;font-weight: 500;}
.alert-pop-head .alert-close{position:absolute;top:0;right:0;width:40px;height:40px;background:url(../../images/ico-x.png) no-repeat 50% 50%;font-size:0}
.alert-pop-body{padding:0 40px 30px;text-align: center;}
.alert-pop-body .msg{padding:30px 0;text-align: center;line-height:1.5;font-weight: 100;}
.alert-pop-body .msg strong{font-weight: 500;}
.alert-pop-body .btm{border-top:1px solid #0b21ab}
.alert-pop-body .btm p{margin-top:20px;line-height: 1.5;}
.alert-pop-body .btm-btns{margin-top:30px}
.alert-pop-body .btm-btns .btn-md{margin:0 5px}
.paging{margin-top:60px;text-align: center;}
.paging a, .paging strong{display:inline-block;min-width:30px;height:30px;box-sizing: border-box;text-align: center;line-height: 30px;border:1px solid #999;color:#666;margin:0 4px}
.paging strong{border:1px solid #000;color: #fff;background:#000}
.paging a.on{border:1px solid #000;color: #fff;background:#000}
.paging .p-first, .paging .p-prev, .paging .p-next, .paging .p-last{font-size:0}
.paging .p-first{background:url(../../images/p-first.png) no-repeat 50% 50%}
.paging .p-prev{background:url(../../images/p-prev.png) no-repeat 50% 50%}
.paging .p-next{background:url(../../images/p-next.png) no-repeat 50% 50%}
.paging .p-last{background:url(../../images/p-last.png) no-repeat 50% 50%}
/**/
#wrap{height:100%}
#header{position:absolute;top:0;left:0;width:100%;height:100px;background: #fff;}
#header .static{display:flex;justify-content: space-between;align-items:center;max-width:1600px;width:100%;margin:0 auto;border-top:10px solid #0b21ab;}
#header h1{margin:22px 0 18px}
#header h1 a{display:inline-block;width:154px;height:50px;background:url(../../images/hh.png) no-repeat;font-size:0}
#header h1 .tit{margin-left:30px;font-size:1.875rem;vertical-align: middle;line-height: 50px;font-weight: 500;}
#header h1 .btn-logout{width:auto;height:auto;margin-top:17px;margin-left:40px;background:none;font-size:0.87rem}
#header h2{font-size:1.875rem;font-weight:500;}
#container{min-height:100%;background:#fafafa;margin-bottom:-60px;box-sizing:border-box;}
#footer{max-width:1600px;width:100%;height:20px;margin:0 auto;padding:10px 0 20px;border-bottom:10px solid #0b21ab;color:#999;text-align: center;background:#fafafa;font-weight: 100;}
#footer address{display:inline-block;margin:0 15px;vertical-align: middle;}
#footer span{margin:0 15px;vertical-align: middle;}
#footer .tel{margin:0 15px}
#footer .f-logo{display:inline-block;width:98px;height:33px;background:url(../../images/ff.png) no-repeat 0 0;font-size:0}

.nav .btn-sm{float:right;margin-top:5px;margin-left:10px}
.gnb{float:left}
.gnb>li{float:left}
.gnb>li>a{display:block;position:relative;padding:8px 28px 8px 25px;font-size:1.375rem;font-weight: 500;}
.gnb>li>a:before{content:'';display:block;position:absolute;top:14px;left:0;width:1px;height:14px;background:#a0a0a0}
.gnb>li:first-child>a:before{display:none}
.gnb>li.on>a{color:#0b21ab}
.gnb>li.on>a>span{display:block;}
.gnb>li.on>a>span:after{content:'';display:block;position:relative;bottom:-30px;width:100%;height:4px;background:#0b21ab;}
.path{padding:10px 0 0;text-align: right;line-height:1;}
.path span{font-weight:100;color:#666}
.path span:after{content:'>';display:inline-block;margin:0 3px 0 5px;vertical-align:top;}
.path strong{color:#000;font-weight: 500;}
.contents{width:100%;max-width:1600px;margin:0 auto;padding:100px 0 140px;box-sizing:border-box;}
.section{padding-top:70px}
.login-content{min-height:100vh;display:flex;align-items: center} 
.login-content{height:100vh}
.login-wrap{border:1px solid transparent}
/**/
.login-wrap{width:100%;max-width:1600px;height:640px;}
.login-wrap .btns-btm-center{margin:70px 0 0}
.login-form-bx{width:100%;max-width:1600px;padding:250px 0 110px;background:url(../../images/img-log.png) no-repeat 50% 50px;border-top:3px solid #0b21ab;border-bottom:2px solid #000;text-align: center;}
.login-form{position:relative;width:530px;margin:0 auto;text-align:left}
.login-form>div{margin-top:10px;display:flex;}
.login-form .ipt{width:330px;height:50px}
.login-form label{display:inline-block;width:75px;text-align:left;font-size:1.125rem;line-height: 50px;}
.login-form label:first-child{padding-left:0}
.login-form .btn-lg{position:absolute;top:0;right:0;min-width:110px;height:110px;font-size:1.375rem}
.login-info-find{width:100%;max-width:1600px;padding:260px 0 110px;border-top:3px solid #0b21ab;border-bottom:2px solid #000;text-align: center;}
.login-info-find .login-form{width:585px}
.login-info-find .btn-lg{margin-left:20px;font-size:1.375rem}
.login-info-find label{display:inline-block;width:125px;font-size:1.125rem;line-height: 50px;}
.login-info-find label:first-child{padding-left:0}
.pass-change-wrap{width:100%;max-width:1600px;}
.pass-change-wrap .ment{margin-bottom:30px;text-align: center;padding-top:40px}
.pass-change{padding-top:40px}
.pass-change .tit-msg{width:350px;height:154px;margin:0 auto 60px;padding-left:180px;background:url(../../images/img-log2.png) no-repeat 0 0;box-sizing: border-box;}
.pass-change .tit-msg p{line-height: 154px;font-size:1.250rem}
.pass-change .ipt{width:330px}
.pass-change .pass-re{display:inline-block;width:330px;height:50px}
.pass-change .pass-re .error-msg{line-height: 50px;}
.pass-re{position: relative;height:40px}
.pass-re .error-msg{position: absolute;top:0;left:20px;line-height: 40px;}
.btns-btm-center{margin-top:50px;text-align: center;}
.btns-btm-center .btn-lg{margin:0 3px}
.h-ty1{padding-left:60px;margin-bottom:20px;font-size:1.5rem;font-weight: 600;line-height:40px;}
.noti{color:#ff0000;font-size:0.813rem;}
.noti em{font-weight:700;vertical-align: middle;}
.list-tb{border-top:3px solid #0b21ab;border-bottom:1px solid #000;line-height:1.2;}
.list-tb table{width:100%}
.list-tb th{padding:20px 0;background:#ebebeb;border-bottom:1px solid #000;font-weight:500;font-size:1.125rem}
.list-tb td{padding:15px 10px;border-top:1px solid #d8d8d8;text-align: center}
.list-tb tr:first-child td,.list-tb tr:first-child th{border-top:0}
.list-tb sub{font-size:0.75em;vertical-align: baseline;font-weight: 300;}
.list-tb .ag-l{text-align:left}
.list-tb tbody th{border-top:1px solid #d8d8d8;border-bottom:0}
.list-tb tbody th em{color:#ff0000;font-weight: 700;vertical-align: middle;margin-right:10px}
.list-tb.row td{padding:10px 50px 10px 30px;text-align: left;}
.list-tb.row .cont{min-height:150px;line-height: 1.7;}
.list-tb.row .td{display: inline-block;width:48%}
.list-tb.row .td em{display:inline-block;margin-right:40px}
.list-tb.result-tb{border-top:1px solid #000;border-bottom:1px solid #000;}
.list-tb.tab-tb{border-bottom:0}
.list-tb.tab-tb table{border-bottom:2px solid #000;}
.tel-wp, .search-wp, .address-wp, .kind-wp{display:flex;justify-content: space-between;align-items: center;}
.tel-wp select{width:30%}
.tel-wp input{width:33%}
.clickable-row{cursor: pointer;}
.adm-tab{position: relative;bottom:-2px}
.adm-tab:before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background:#000;z-index: 2;}
.adm-tab ul{display: flex;justify-content: center;text-align: center;}
.adm-tab li{width:25%;}
.adm-tab li>a{position:relative;display:block;padding:14px 0;box-sizing: border-box;text-align: center;border:2px solid #cacaca;border-bottom:0;font-size:1.25rem;background:#ebebeb;box-sizing: border-box;z-index:1;}
.adm-tab li.on>a:before{content:'';display:block;position:absolute;left:0;bottom:-2px;width:100%;height:2px;background:#fafafa;z-index: 1;}
.adm-tab li.on>a{border:2px solid #000;border-bottom:0;background:#fafafa;z-index:3;}
.adm-tab + .list-tb{border-top:0;border-bottom:1px solid #000;line-height:1.2;}
.adm-tab + .list-tb th{background:#fafafa;}
.adm-tab + .list-tb.row{border-top:1px solid #d8d8d8;margin-top:50px}
.adm-tab + .list-tb.row th{background:#ebebeb}
.sample-tb table{width:100%;display:block}
.sample-tb table tbody tr,
.sample-tb table thead{display:table;width:100%;table-layout:fixed;}
.sample-tb table thead tr th,
.sample-tb table tbody tr td{display:table-cell}
.sample-tb table thead{width: calc( 100% - 1rem )}
.sample-tb table thead tr th{border-bottom:0}
.sample-tb table tbody {display:block;height: 500px;overflow-y: auto;overflow-x: hidden;border-top:2px solid #000}


