@charset "utf-8";
@import "reset.css";
@import "font.css";
.chartjsLegend li span {
       display: inline-block;
       width: 12px;
       height: 12px;
       margin-right: 5px;
       border-radius: 25px;
}
/* common style */
.btn-sm, .btn-md, .btn-lg{display:inline-block;box-sizing: border-box;text-align: center;}
.btn-sm{width:120px;height:30px;padding:7px 0;background:#d8d8d8;color:#666;font-size:1rem}
.btn-md{min-width:140px;height:40px;padding:12px 20px 11px;background:#fff;color:#333;border:1px solid #b9b9b9;font-size:1rem}
.btn-nb2{width:120px;height:30px;padding:7px 0;background:#fff;color:#333;border:1px solid #b9b9b9;font-size:1rem; vertical-align: middle;}
.btn-nb2.on{border:1px solid #7cf0fa}
.btn-nb2.off{opacity:0.6;}
.btn-nbd{float:right;}
.btn-md.on{background:#666;color:#fff;border:1px solid #666}
.btn-lg{min-width:200px;height:50px;padding:14px 20px;background:#898989;color:#fff;font-size:1.25rem}
.btn-more{display:inline-block;padding-right:40px;background:url(../../images/ico-plus.png) no-repeat 100% 50%;line-height: 30px;font-weight:300;}
.black{background:#000 !important}
.blue{background:#0b21ab !important}
.indigo{background:#0b7cab !important}
.ipt{height:50px !important}
.ipt-email{width:480px;margin-right:46px}
.mb40{margin-bottom:40px}
.mt50{margin-top:50px !important}
.st-ing{color:#0b21ab}
.st-ok{color:#d62626}
.full{width:100%}
.tx-blue{color:#0b21ab}
.tx-red{color:#ff0000}
.tx1{font-size:1.125rem}
.tx2{font-size:1.250rem}
.error-msg{color:#ff0000}
/* layer popup */
.layer-pop{display:none;position: fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6)}
.layer-pop .alert-pop{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.alert-pop{width:500px;background:#fff}
.alert-pop-head{position:relative;height:40px;border-top:10px solid #0b21ab;}
.alert-pop-head h2{padding-left:40px;padding-top:18px;font-size:1.25rem;font-weight: 500;}
.alert-pop-head .alert-close{position:absolute;top:0;right:0;width:40px;height:40px;background:url(../../images/ico-x.png) no-repeat 50% 50%;font-size:0}
.alert-pop-body{padding:0 40px 30px;text-align: center;}
.alert-pop-body .msg{padding:30px 0;text-align: center;line-height:1.5;font-weight: 100;}
.alert-pop-body .msg strong{font-weight: 500;}
.alert-pop-body .btm{border-top:1px solid #0b21ab}
.alert-pop-body .btm p{margin-top:20px;line-height: 1.5;}
.alert-pop-body .btm-btns{margin-top:30px}
.alert-pop-body .btm-btns .btn-md{margin:0 5px}
.paging{margin-top:60px;text-align: center;}
.paging a, .paging strong{display:inline-block;min-width:30px;height:30px;box-sizing: border-box;text-align: center;line-height: 30px;border:1px solid #999;color:#666;margin:0 4px}
.paging strong{border:1px solid #000;color: #fff;background:#000}
.paging a.on{border:1px solid #000;color: #fff;background:#000}
.paging .p-first, .paging .p-prev, .paging .p-next, .paging .p-last{font-size:0}
.paging .p-first{background:url(../../images/p-first.png) no-repeat 50% 50%}
.paging .p-prev{background:url(../../images/p-prev.png) no-repeat 50% 50%}
.paging .p-next{background:url(../../images/p-next.png) no-repeat 50% 50%}
.paging .p-last{background:url(../../images/p-last.png) no-repeat 50% 50%}
/**/
.static{max-width:1400px;margin:0 auto}
#wrap{min-height:100%;background:#f6f6f6} 
#header{position:absolute;top:0;left:0;width:100%;height:180px;}
#header .header-top .static{display:flex;justify-content: space-between;align-items: center;padding:15px 0}
#header .header-gnb{background: linear-gradient(to right, #11539d, #68c53d)}
#header h1 a{display:inline-block;width:220px;height:58px;margin-left:35px;background:url(../../images/hh.png) no-repeat;font-size:0}
#header h2 a{display:inline-block;width:250px;height:85px;margin-right:22px;background:url(../../images/hang.png) no-repeat;font-size:0}
#header h1 .tit{margin-left:30px;font-size:1.5rem;vertical-align: middle;line-height: 50px;font-weight: 500;}
#header .gnb{overflow:hidden;}
#header .gnb>li{float: left;}
#header .gnb>li>a{display:block;padding:5px 60px;color:#fff;font-size:10px}
#header .gnb>li:first-child>a{padding-left:30px}
#header .gnb>li.on>a{color:#bbff28}
#container{box-sizing:border-box;min-height:100%;min-height:100vh;margin-bottom:-114px}
#container .static{display:flex;justify-content: space-between;padding:140px 0 174px;}
#container .static nav{width:290px;background:#fff; height:700px}
#container .static .contents{width:78%}
#footer{height:114px}
#footer .static{padding:20px 0 60px;color:#999;text-align: center;font-weight: 100;}
#footer address{display:inline-block;margin:0 15px;vertical-align: middle;}
#footer span{margin:0 15px;vertical-align: middle;}
#footer .tel{margin:0 15px}
#footer .f-logo{display:inline-block;width:98px;height:33px;background:url(../../images/ff.png) no-repeat 0 0;font-size:0}
.lnb{padding:35px 30px}
.lnb h2{padding:25px 0 15px;font-size:1.125rem;border-top:1px solid #b9b9b9}
.lnb li ul{margin-bottom:20px;}
.lnb li ul>li>a{display:block;padding:10px 0;font-size:0.875rem;position: relative;}
.lnb li ul>li>img{padding-top:100px;padding-bottom:10px;}
.lnb li ul>li>span{font-size:0.715rem;}
.lnb li ul>li{position:relative;}
.lnb li ul>li.on{color:#fff}
.lnb li ul>li.on:before{content:'';display:block;position:absolute;top:0;left:-5%;width:110%;height:110%;background:#1b30b1;color:#fff;border-radius: 5px;}
.lnb>li:first-child>h2{padding-top:0;border-top:0}
.contents-top{display:flex;justify-content: space-between;align-items: center;padding:25px 15px;background:#fff}
.contents-top .btn-md{margin-right:8px}
.contents-top .tit{line-height: 40px;margin-right:15px}
.h-group2 h3{display:inline-block;font-size:1.25rem;font-weight: 700;vertical-align:middle;}
.h-group2{display:flex;justify-content: space-between;align-items: center;padding:30px 0 14px 40px}
.h-group2 span{display:inline-block;margin-left:40px;margin-top:5px;vertical-align:middle;}
.h-group{padding:30px 0 14px 40px}
.h-group h3{display:inline-block;font-size:1.25rem;font-weight: 700;vertical-align:middle;}
.h-group .selec{display:inline-block;}
.h-group span{display:inline-block;margin-left:40px;margin-top:5px;vertical-align:middle;}
.h-group2 .tit{line-height: 40px;margin-right:15px}
.grid-third{display:flex;justify-content: space-between;flex-wrap: wrap;margin-top:10px}
.grid-third>div{width:32.7%;background:#fff;box-sizing: border-box;padding:10px;}
.grid-third>div>canvas{margin-left: 20px;}
.grid-twin{display:flex;justify-content: space-between;flex-wrap: wrap;margin-top:10px}
.grid-twin>div{width:49.5%;background:#fff;box-sizing: border-box;padding:10px}
.grid-full{width:100%;background:#fff;margin-top:10px;box-sizing: border-box;padding:10px}
.type06 {border-collapse: collapse;text-align: center;line-height: 1.5;}
.type06 th {padding: 10px;font-weight: bold;vertical-align: top;}
.type06 td {padding: 10px;vertical-align: top;}
.type06 .even {background: #f0f0f0;}
.contentList tr:nth-child(even) {background: #f0f0f0;}
#pp select{width:60px;margin-left:450px;font-size:8px;height:25px;border-radius: 0px; padding:0px;}
.header-gnb .static{position: relative;}
body{background:#f6f6f6}
#header{z-index: 101}
.fixed #header .header-gnb{position:fixed;top:0;left:0;width:100%}
.fixed #container{margin-bottom:0}
.fixed #container>.static{position: relative;padding-top:290px;padding-bottom:40px}
.fixed #container nav{position: fixed;top:90px;width:294px;overflow:hidden;overflow-y: auto;}
.fixed #container .contents{width:1092px;margin-left:308px}
.fixed #footer>.static{padding-left:308px;box-sizing: border-box;}
.fixed #footer .copy{display:block}
.category, .category *{margin:0;padding:0;color:#000;}   
.category {position:absolute;overflow:hidden;bottom:10px;right:10px;height:50px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#ffff;}
#mapwrap{position:relative;overflow:hidden;}
.category li{list-style:none;float:left;width:50px;height:45px;padding-top:5px;} 
.category .ico_comm {display:block;margin:0 auto 2px;width:20px;height:20px;} 
.category .ico_blue {background-position:center; background-image:url("../../images/blue_pin.png"); background-repeat: no-repeat}  
.category .ico_purple {background-position:center; background-image:url("../../images/purple_pin.png"); background-repeat: no-repeat}   
.category .ico_red {background-position:center; background-image:url("../../images/red_pin.png"); background-repeat: no-repeat}
.category .ico_green {background-position:center; background-image:url("../../images/green_pin.png"); background-repeat: no-repeat}  
.area {position: absolute;background: #fff;border: 1px solid #888;border-radius: 3px;font-size: 15px;top: -5px;left: 15px;padding:2px;}
.info {font-size: 12px;padding: 5px;}
.info .title {font-weight: bold;}
.selec {float: right}
#total #left{display:inline-block;width:10px;height:60px;background:#1b30b1;border-radius: 5px;margin-left:0;padding:0;}
#total h3{display:inline-block;font-size:1.75rem;font-weight: 600;vertical-align:middle; text-align:center;padding-left:40px;padding-top:15px;}


/* 추가 css 시작 */

.ect1 {
	margin-top: 30px;
}

.table {
	width: 100%;
	border-top: 2px solid #545454;
}

.table th, .table td {
	padding: 10px;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	text-align: center;
	background-color: white;
}

.table th {
	background: #f5f6f9;
	border-bottom: 1px solid #8d8d8d;
	font-weight: 700;
	word-break: break-all;
}

.table td {
	border-bottom: 1px solid #c6c6c6;
}

.table tr th:first-child, .table tr td:first-child {
	border-left: none;
}

.table tr th:last-child, .table tr td:last-child {
	border-right: none;
}
.cargo_type{
	height: 60px;
	color: white;
	border: none;
	font-size: 16px;
}

.cargo_type th:nth-child(1) {
	background-color: blue;
}

.cargo_type th:nth-child(2) {
	background-color: green;
}
/* 추가 css 끝 */
